body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn:hover {
    background-color: #45a049;
}

#next-question-btn {
    display: none;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-question-btn:hover {
    background-color: #1976D2;
}

#score-display {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}
.restart{
    display: none;
    padding: 10px;
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}  